body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0e0e0e;
    color: #fff;
    transition: background 0.3s ease;
  }
  
  header {
    text-align: center;
    padding: 2rem 1rem;
  }

  .sub-line {
    font-size: 0.7em;
    color: #2ecc71;
    display: block; /* Zorgt dat de kleinere tekst netjes op een eigen regel blijft */
    font-weight: normal; /* Optioneel: maakt de tweede regel minder dik voor contrast */
    text-shadow: 0 0 5px rgba(46, 204, 113, 0.6), 0 0 10px rgba(46, 204, 113, 0.4);
  }

  .sub-line2 { 
    font-size: 1rem;
    font-weight: normal;;
    opacity: 0.8
  }

  .mix {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background: #1a1a1a;
    border-radius: 8px;
  }

  .mix-date {
    font-size: 0.8em; /* Text kleiner dan titel */
    color: #888;    /* Optioneel: een grijze kleur voor een subtielere look */
    display: block;  /* Zorgt dat de datum op een nieuwe regel komt */
  }
  
  .mix h2 {
    margin: 0 0 0.5rem;
  }

  .featured { 
    border: 2px solid #ff4d4d;
    box-shadow: 0 0 15px rgba(255, 77, 77, 0.4);
  }

  .light { 
    background-color: white;
    color: black;
  }
  
 #themeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;

  cursor: pointer;
  background: transparent;
  color: darkcyan;
  border: 1px solid;
  border-radius: 20px;

  opacity: 0.85;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

#themeToggle:hover {
  opacity: 1;
  transform: scale(1.05);
}

.player-wrapper {
  width: 100%;
  max-width: 600px;
}

/* Mobiel eerst (default) */
.player-wrapper iframe {
  width: 100%;
  height: 60vw;
  max-height: 360px;
  min-height: 300px;
  border: none;
}

/* Desktop optimalisatie */
@media (min-width: 768px) {
  .player-wrapper {
    aspect-ratio: 1 / 1;  /* vierkante cover */
  }

  .player-wrapper iframe {
    height: 100%;  /* nu mag hij meeschalen */
  }
} 